.catalog ul {
  list-style: none;
}

.catalog {
  position: relative;
  padding: 50px 0 69px;

  &::after {
    display: block;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 132px;
    z-index: 100;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $gray-light;
  }

  @media (max-width: $tablet-width-only) {
    padding-bottom: 70px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 40px;
    padding-bottom: 61px;

    &::after {
      display: none;
    }
  }
}

.catalog__wrapper {
  padding-top: 31px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 2;
  grid-column-gap: 50px;

  @media (max-width: 1055px) {
    grid-column-gap: 30px;
  }

  @media (max-width: $tablet-width-only) {
    padding-top: 0;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
}

.catalog__wrapper > button {
  display: none;

  @media (max-width: $tablet-width-only) {
    grid-column: 1 / 3;
    display: block;
    text-align: center;
    background-color: $brown;
    padding-top: 26px;
    padding-bottom: 25px;
    width: 100%;
    color: $white;
  }
}

.catalog form {
  grid-row: 1 / 3;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: $white;
  transition: 0.5s;
  z-index: 99;


  @media (max-width: $tablet-width-only) {
    width: 442px;
    padding-bottom: 12px;
    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
    transform: translateX(-600px);
    display: block;
    position: absolute;
    top: -340px;
    left: 50px;
  }

  @media (max-width: $mobile-width-only) {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    top: -330px;
    left: calc(50% - 100px);
  }
}

.catalog--active-filter form {
  transform: translateX(-60px);
  padding-bottom: 50px;

  @media (max-width: $mobile-width-only) {
    transform: translateX(-45px);
    padding-bottom: 25px;
  }
}

.catalog fieldset {
  position: relative;
  padding: 24px 25px 19px;
  margin: 0;
  margin-bottom: -1px;
  border: 1px solid $brown;

  &:focus {
    background-color: $gray-light;
  }

  @media (max-width: $tablet-width-only) {
    border-right: none;
    border-left: none;
    padding: 34px 40px 33px;
    border-top: none;
    margin-bottom: 0;
    overflow-y: auto;
  }

  @media (max-width: $mobile-width-only) {
    padding: 26px 40px 22px;
    padding-right: 30px;
    padding-left: 20px;
  }
}

.catalog svg {
  position: absolute;
  right: 25px;
  top: 28px;

  @media (max-width: $tablet-width-only) {
    width: 30px;
    height: 14px;
    right: 36px;
    top: 39px;
  }

  @media (max-width: $mobile-width-only) {
    width: 28px;
    height: 12px;
    right: 15px;
    top: 32px;
  }
}

.catalog h3 {
  margin: 0;
  cursor: pointer;

  @include font(16px, 21px, 500);
  color: $black;

  @media (max-width: $tablet-width-only) {
    @include font(18px, 24px, 500);
  }
}

.catalog label {
  margin: 0;
  padding-left: 25px;
  transition: 0.5s;
  cursor: pointer;

  @include font(14px, 18px, 500);
  color: $black;

  &:hover {
    color: $gray;
  }

  @media (max-width: $tablet-width-only) {
    @include font(16px, 21px, 500);
    padding-left: 30px;
  }
}

.catalog__field-wrapper--prise label {
  padding-left: 0;
  margin-left: 38px;

  @media (max-width: $tablet-width-only) {
    @include font(16px, 21px, 500);
    padding-left: 10px;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: 12px;
  }
}

.catalog__field-wrapper {
  position: relative;
  margin-left: 10px;
  margin-bottom: 6px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.catalog__field-wrapper--prise {
  margin-left: 0;
}

.catalog__fields-box {
  padding-top: 20px;
}

.catalog__checkbox-indicator {
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    box-shadow: 0 0 3px 3px $brown;
  }

  &::after {
    position: absolute;
    left: 0;
    top: 5px;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid $brown;
    background-color: $white;
  }

  @media (max-width: $tablet-width-only) {
    &::after {
      width: 18px;
      height: 18px;
      top: 2px;
    }
  }

  @media (max-width: $mobile-width-only) {
    &::after {
      top: 3px;
    }
  }
}

.catalog__field-wrapper input[type="checkbox"]:checked + .catalog__checkbox-indicator {
  &::after {
    background-color: $brown;
  }
}

.catalog__field-wrapper input[type="checkbox"]:focus + .catalog__checkbox-indicator {
  &::after {
    outline: none;
    box-shadow: 0 0 3px 4px rgba($brown, 0.4);
    transition: 0.5s;
  }
}

.catalog__field-wrapper input[type="checkbox"]:disabled + .catalog__checkbox-indicator {
  &::before {
    background-image: none;
  }
}

.catalog input[type="number"] {
  padding: 0;
  margin: 0;
  outline: none;
  width: 22px;

  &:focus {
    background-color: $gray;
  }

  @include font(14px, 18px, 500);
  color: $black;

  border-radius: 0;

  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::placeholder {
    color: $black;

    @media (max-width: $tablet-width-only) {
      @include font(16px, 21px, 500);
    }
  }

  &:hover,
  &:focus {
    -moz-appearance: number-input;
  }

  @media (max-width: $tablet-width-only) {
    width: 28px;
  }
}

.catalog__line-box {
  position: relative;
  margin-bottom: 10px;
  margin-top: 9px;

  @media (max-width: $tablet-width-only) {
    margin-top: 13px;
    padding-bottom: 3px;
  }
}

.catalog__line-prise {
  position: relative;
  width: 198px;
  height: 1px;
  background-color: #f0eae4;

  &::after {
    position: absolute;
    left: 50px;
    top: 0;
    content: "";
    width: 100px;
    height: 1px;
    background-color: $brown;
  }

  @media (max-width: $tablet-width-only) {
    width: 304px;

    &::after {
      left: 55px;
      width: 190px;
    }
  }

  @media (max-width: $mobile-width-only) {
    width: 240px;

    &::after {
      left: 45px;
      width: 125px;
    }
  }
}

.catalog__line-button {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  transition: 0.5s;
  cursor: pointer;

  &::after {
    position: absolute;
    display: block;
    content: "";
    left: 45px;
    top: -7px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: $brown;
  }

  &:focus {
    box-shadow: 0 0 0 2px $black;
  }

  @media (max-width: $tablet-width-only) {
    &::after {
      width: 18px;
      height: 18px;
      left: 55px;
    }
  }

  @media (max-width: $mobile-width-only) {
    &::after {
      left: 30px;
    }
  }
}

.catalog__line-box .catalog__line-button--second {
  &::after {
    left: 150px;
  }

  @media (max-width: $tablet-width-only) {
    &::after {
      left: 231px;
    }
  }

  @media (max-width: $mobile-width-only) {
    &::after {
      left: 168px;
    }
  }
}

.catalog__field-wrapper--prise .catalog__label-second {
  margin-left: 62px;

  @media (max-width: $tablet-width-only) {
    margin-left: 115px;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: 78px;
  }
}

.catalog__button-wrapper {
  padding-top: 35px;

  @media (max-width: $tablet-width-only) {
    padding-top: 40px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 30px;
  }
}

.catalog__button-wrapper .button {
  margin-bottom: 25px;
  padding: 24px 0;
  width: 100%;

  @include font(16px, 20px, 500);

  &:hover {
    color: $white;
    background-color: $gray;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px 7px rgba($brown, 0.3);
    transition: 0.5s;
  }

  &:last-child {
    background-color: $white;
    color: $black;
    border: 1px solid $brown;
    margin-bottom: 0;

    &:hover {
      color: $white;
      background-color: $brown;
    }
  }

  @media (max-width: $tablet-width-only) {
    width: 362px;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 25px;
    }
  }

  @media (max-width: $mobile-width-only) {
    width: 230px;
    margin-bottom: 20px;
  }
}

.js-opened .catalog__fields-box {
  display: block;
}

.js-closed .catalog__fields-box {
  display: none;
}

.js-opened svg {
  transform: rotate(180deg);
  transition: 0.5s;
}

.catalog--nojs form {
  transform: translateX(0);
  position: relative;
  width: 100%;
  left: 0;
}

.catalog--nojs .catalog__wrapper > button {
  display: none;
}

.catalog--nojs .catalog__fields-box {
  display: block;
}

.catalog--nojs svg {
  transform: rotate(180deg);
}

.catalog--nojs .catalog__close-filter {
  display: none;
}

.catalog__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-width-only) {
    padding-top: 50px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 38px;
  }
}

.catalog__item {
  margin-bottom: 35px;
  text-align: center;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 26px;
    width: 130px;
  }
}

.catalog__list a {
  margin: 0;
  display: block;

  &:hover {
    img {
      opacity: 0.5;
    }

    h3,
    p {
      color: $brown;
    }
  }
}

.catalog__list img {
  display: block;
  transition: 0.5s;

  @media (max-width: 1230px) {
    width: 250px;
    height: auto;
  }

  @media (max-width: 1180px) {
    width: 230px;
  }

  @media (max-width: 1155px) {
    width: 220px;
  }

  @media (max-width: 1090px) {
    width: 206px;
  }

  @media (max-width: $mobile-width-only) {
    width: 130px;
    min-height: 136px;
  }
}

.catalog__list h3 {
  transition: 0.5s;

  @include font(16px, 21px, 500);

  color: $black;
  margin: 0;
  padding: 0;
  padding-top: 22px;

  @media (max-width: $mobile-width-only) {
    padding-top: 16px;
  }
}

.catalog__list p {
  transition: 0.5s;
  margin: 0;
  padding-top: 6px;
  color: $black;

  @include font(14px, 18px, 700);
}

.catalog__wrapper-pagination {
  grid-column: 2 / 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding-top: 31px;

  @media (max-width: $tablet-width-only) {
    grid-column: 1 / -1;
    padding-top: 32px;
  }

  @media (max-width: $mobile-width-only) {
    text-align: center;
    padding-top: 14px;
  }
}

.catalog__wrapper-pagination-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 104px;
  margin-right: 28px;

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    width: 144px;
  }
}

.catalog__wrapper-pagination-list a {
  margin: 0;
  color: $gray;
  transition: 0.5s;
  letter-spacing: 0.27em;
  padding: 2px;

  &:hover {
    color: $brown;
  }
}

.catalog__wrapper-pagination button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;
  padding: 5px 0;
  color: black;

  @include font(16px, 21px, 500);

  &:hover {
    color: $gray;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.catalog__wrapper-pagination span {
  color: $black;
  margin: 0;
  padding: 0;
}

.catalog__close-filter {
  display: none;
  border: none;

  @media (max-width: $tablet-width-only) {
    display: block;
    position: absolute;
    right: -40px;
    top: -44px;
    z-index: 100;
  }

  @media (max-width: $mobile-width-only) {
    right: -20px;
    top: -36px;
  }
}

.catalog__close-filter svg {
  @media (max-width: $tablet-width-only) {
    display: block;
    padding: 5px;
    width: 42px;
    height: 42px;
    fill: $black;
    transition: 0.5s;

    &:hover {
      fill: $brown;
    }
  }

}
