.page-header ul {
  list-style: none;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $tablet-width-only) {
    background-color: $brown;
  }
}

.page-header__first-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  transition: 0.5s;
  max-width: 1170px;
  width: 1170px;

  @media (max-width: 1200px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: $tablet-width-only) {
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
  }
}

form {
  @media (max-width: $tablet-width-only) {
    margin: 0 auto;
    order: 3;
    width: 100%;
    display: none;
    justify-content: center;
  }
}

.page-header input {
  background-image: url("../img/icon-loupe.svg");
  background-repeat: no-repeat;
  background-position: left center;

  &:focus {
    border-radius: 21px;
    outline: none;
    box-shadow: 0 0 10px 10px rgba($gray, 0.8);
  }

  &:hover {
    box-shadow: 0 0 0 1px $gray-light;
    background-position: 5px center;
  }

  @media (max-width: $tablet-width-only) {
    width: 678px;
    margin: 0 auto;
    background-image: url("../img/icon-loupe-white.svg");
    background-position: 12px center;
    background-color: rgba($white, 0.15);

    &::placeholder {
      color: transparent;
    }
  }
}

.page-header__list-log {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.page-header__item-log {
  &:first-child {
    margin-right: 35px;
  }
}

.page-header__item-log span {
  margin-left: 5px;
}

.page-header__item-log a {
  position: relative;
  transition: all 0.5s;
  margin-left: 5px;
  @include font(14px, 21px, 500);
}

.page-header__item-log p {
  margin: 0;
}

.page-header__item-log--none {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.page-header__cart {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.page-header__nav {
  width: 100%;
  padding: 25px 0;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid rgba($gray-light, 0);

  @media (max-width: $tablet-width-only) {
    display: none;
    margin-top: 55px;
    padding-top: 55px;
    padding-left: 45px;
    padding-right: 45px;
    border-top: none;
    border-bottom: none;
  }
}

.page-header__list-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  width: 493px;

  @media (max-width: $tablet-width-only) {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }
}

.page-header__item-nav {
  @media (max-width: $tablet-width-only) {
    margin-bottom: 40px;
  }
}

.page-header__list-tablet {
  display: none;
  padding: 0;

  @media (max-width: $tablet-width-only) {
    display: block;
  }
}

.page-header__item-tablet {
  margin-bottom: 30px;

  &:last-child  {
    padding-top: 25px;
  }
}

.page-header__item-tablet:last-child a {
  @media (max-width: $tablet-width-only) {
    color: $white;
  }
}

.page-header__list-tablet a {
  @include font(18px, 24px, 500);

  color: rgba($white, 0.75);
}

.page-header__list-log a,
.page-header__list-nav a {
  position: relative;
  transition: 0.7s;
  margin: 0;
  padding: 0;
  color: $black;

  &:hover {
    color: $brown;

    &::before {
      display: block;
      position: absolute;
      left: -12px;
      top: 4px;
      content: "";
      border: 8px solid;
      border-color: transparent transparent transparent $brown;
    }

    &::after {
      display: block;
      margin: 0;
      position: absolute;
      right: -12px;
      transform: rotate(-180deg);
      top: 4px;
      content: "";
      border: 8px solid;
      border-color: transparent transparent transparent $brown;
    }

    @media (max-width: $tablet-width-only) {
      color: $gray;
    }

  }

  @media (max-width: $tablet-width-only) {
    @include font(24px, 36px, 500);
    color: $white;
  }
}

.page-header__wrapper-logo {
  width: 66px;
  margin-right: 120px;
  padding-top: 30px;
  padding-bottom: 18px;

  @media (max-width: $tablet-width-only) {
    padding-bottom: 30px;
    margin-right: 0;
  }
}

.page-header svg {
  display: block;
  margin: 0;
  fill: $brown;

  @media (max-width: $tablet-width-only) {
    fill: $white;
  }
}

.page-header__second-box {
  width: 100%;
  background-color: $brown;
  background-image: url("../img/mainbg-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 463px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/mainbg-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/mainbg-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/mainbg-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/mainbg-mobile@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/mainbg-mobile@2x.jpg");
    }
  }
}

.page-header__second-box p {
  width: 100%;
  margin: 0;
  font-family: "Cormorant Garamond", "Times New Roman", serif;

  @include font(38px, 50px, 400);
  text-align: center;
  color: $white;

  &:first-child {
    @include font(45px, 58px, 700);
  }
}





.page-header__toggle {
  display: none;
  padding: 5px;
  background: none;
  border: none;
  margin: 0;
  outline: none
}

@media (max-width: $tablet-width-only) {
  .page-header__toggle {
    display: block;
    position: relative;
  }

  .page-header__icon-close,
  .page-header__icon-menu {
    position: absolute;
    left: -5;
    top: 0;
  }

  .page-header__icon-close {
    width: 14px;
    height: 14px;
    left: 5px;
    top: 1px;
  }

  .page-header__icon-menu {
    position: absolute;
    // top: 0;
    // left: 10px;
    z-index: 100;
    width: 25px;
    height: 16px;

    display: block;
  }

  .page-header--nojs {
    .page-header__toggle {
      display: none;
    }

    form {
      display: flex;
    }

    .page-header__nav {
      position: relative;

      display: block;
    }
  }

  .page-header--closed {
    .page-header__icon-close {
      display: none;
    }

    .page-header__icon-menu {
      display: block;
    }
  }

  .page-header--opened {
    .page-header__icon-close {
      display: block;
    }

    .page-header__icon-menu {
      display: none;
    }

    form {
      display: flex;
    }

    .page-header__nav {
      position: absolute;
      top: 117px;
      left: 0;
      z-index: 99;
      background-color: $brown;
      display: block;
    }
  }

  @keyframes menu {
    0% {
      transform: translateX(-700px);
    }

    0% {
      opacity: 0.2;
    }

    100% {
      transform: translateX(0);
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes menu-search {
    0% {
      transform: translateY(-60px);
    }

    0% {
      opacity: 0.2;
    }

    100% {
      transform: translateY(0);
    }

    100% {
      opacity: 1;
    }
  }


  @keyframes menuclose {
    0% {
      transform: translateX(0);
    }

    0% {
      opacity: 1;
    }

    100% {
      transform: translateX(-900px);
    }

    100% {
      opacity: 0;
    }
  }

  .page-header__menu-show {
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-name: menu;
    animation-duration: 0.5s;
  }

  .page-header__menu-search {
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-name: menu-search;
    animation-duration: 0.5s;
  }

  .page-header__menu-close {
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-name: menuclose;
    animation-duration: 0.6s;
  }
}
