.page-header ul {
  list-style: none;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $tablet-width-only) {
    background-color: $white;
  }
}

.page-header__first-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  transition: 0.5s;
  max-width: 1170px;
  width: 1170px;

  @media (max-width: 1200px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: $tablet-width-only) {
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page-header__first-box--catalog {
  align-items: flex-start;
  padding-top: 37px;
}

.page-header__first-box--catalog > form {
  padding-top: 10px;

  @media (max-width: $tablet-width-only) {
    padding-top: 0;
  }
}

form {
  @media (max-width: $tablet-width-only) {
    position: relative;
    z-index: 50;
    margin: 0 auto;
    padding-top: 10px;
    order: 3;
    width: 100%;
    display: none;
    justify-content: center;
  }
}

.page-header__first-box--catalog .page-header__toggle {
  margin-top: 18px;

  @media (max-width: $mobile-width-only) {
    margin-top: 11px;
  }
}

.page-header input {
  background-image: url("../img/icon-loupe.svg");
  background-repeat: no-repeat;
  background-position: left center;

  &:focus {
    border-radius: 21px;
    outline: none;
    box-shadow: 0 0 6px 6px rgba($gray, 0.3);
    background-position: 5px center;
  }

  &:hover {
    box-shadow: 0 0 5px 5px rgba($gray, 0.2);
    background-position: 5px center;
  }

  @media (max-width: $tablet-width-only) {
    width: 678px;
    margin: 0 auto;
    padding: 10px 30px;
    background-image: url("../img/icon-loupe-white.svg");
    background-position: 12px center;
    background-size: 17px 17px;
    background-color: rgba($white, 0.15);

    &::placeholder {
      color: transparent;
    }
  }

  @media (max-width: $mobile-width-only) {
    padding: 9px 30px;
  }
}

.page-header__list-log {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.page-header__first-box--catalog .page-header__list-log {
  padding-top: 7px;

  @media (max-width: $tablet-width-only) {
    padding-top: 0;
    margin: 0;
  }
}

.page-header__item-log {
  &:first-child {
    margin-right: 37px;
  }
}

.page-header__item-log span {
  margin-left: 5px;
}

.page-header__item-log a {
  position: relative;
  transition: all 0.5s;
  margin-left: 5px;
  @include font(14px, 21px, 500);
}

.page-header__item-log p {
  margin: 0;
}

.page-header__item-log--none {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.page-header__cart {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.page-header__icon-input {
  fill: $black;
}

.page-header__nav {
  width: 100%;
  padding: 19px 0 17px;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid rgba($gray-light, 0);

  @media (max-width: $tablet-width-only) {
    display: none;
    margin-top: 55px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 45px;
    border-top: none;
    border-bottom: none;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
}

.page-header__list-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 14px;
  margin: 0 auto;
  width: 505px;

  @media (max-width: $tablet-width-only) {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }
}

.page-header__item-nav {
  @media (max-width: $tablet-width-only) {
    margin-bottom: 21px;
  }
}

.page-header__list-tablet {
  display: none;
  padding: 0;
  padding-left: 14px;
  padding-top: 5px;
  padding-bottom: 30px;

  @media (max-width: $tablet-width-only) {
    display: block;
  }

  @media (max-width: $tablet-width-only) {
    padding-top: 10px;
    margin: 0;
  }
}

.page-header__item-tablet {
  margin-bottom: 18px;

  &:last-child  {
    padding-top: 25px;

    @media (max-width: $tablet-width-only) {
      padding-top: 15px;
    }
  }
}

.page-header__item-tablet:last-child a {
  @media (max-width: $tablet-width-only) {
    color: $white;
  }
}

.page-header__list-tablet a {
  @include font(18px, 24px, 500);

  color: rgba($white, 0.75);
}

.page-header__list-log a,
.page-header__list-nav a {
  position: relative;
  display: block;
  transition: 0.7s;
  margin: 0;
  padding: 0;
  color: $black;

  &:hover {
    color: $brown;

    &::before {
      display: block;
      position: absolute;
      left: -12px;
      top: 4px;
      content: "";
      border: 8px solid;
      border-color: transparent transparent transparent $brown;
    }

    &::after {
      display: block;
      margin: 0;
      position: absolute;
      right: -12px;
      transform: rotate(-180deg);
      top: 4px;
      content: "";
      border: 8px solid;
      border-color: transparent transparent transparent $brown;
    }

    @media (max-width: $tablet-width-only) {
      color: $gray;
    }
  }

  @media (max-width: $tablet-width-only) {
    @include font(24px, 36px, 500);
    color: $white;
  }
}

.page-header__item-log p {
  margin: 0;
  padding: 0;
}

.page-header__wrapper-logo {
  width: 66px;
  margin-right: 142px;
  padding-top: 37px;
  padding-bottom: 18px;

  @media (max-width: $tablet-width-only) {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 0;
  }

  @media (max-width: $mobile-width-only) {
    width: 52px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.page-header__first-box--catalog .page-header__wrapper-logo {
  padding-top: 0;
  padding-bottom: 28px;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 19px
  }
}

.page-header__icon-logo {
  transition: 0.5s;

  &:hover {
    transform: scale(1.2);
    stroke: $brown;
    transition: 0.5s;
  }

  &:active {
    transform: scale(1.2);
    stroke: $brown;
    transition: 0.2s;
    opacity: 0.3;
  }

  @media (max-width: $mobile-width-only) {
    width: 52px;
    height: 52px;
  }
}

.page-header svg {
  display: block;
  margin: 0;
  fill: $brown;

  @media (max-width: $tablet-width-only) {
    fill: $white;
  }
}

.page-header__second-box {
  width: 100%;
  background-color: $brown;
  background-image: url("../img/mainbg-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 463px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/mainbg-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/mainbg-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/mainbg-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/mainbg-mobile@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/mainbg-mobile@2x.jpg");
    }
  }
}

.page-header__second-box--catalog {
  min-height: 261px;
  background-size: 1366px 261px;
  background-position: center center;
  background-image: url("../img/catalogbg-desktop@1x.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/catalogbg-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/catalogbg-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/catalogbg-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("../img/catalogbg-mobile@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/catalogbg-mobile@2x.jpg");
    }
  }
}

.page-header__second-box p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  @include font(38px, 48px, 00);

  text-align: center;
  color: $white;

  @media (max-width: $mobile-width-only) {
    @include font(34px, 42px, 400);
  }

  &:first-child {
    @include font(45px, 51px, 700);

    letter-spacing: 0.03em;
    font-style: normal;

    @media (max-width: $mobile-width-only) {
      @include font(38px, 40px, 700);

      padding-top: 7px;
    }
  }
}

.page-header__second-box--catalog p:first-child {
  @media (max-width: $mobile-width-only) {
    padding-top: 0;
  }
}

.page-header__second-box--catalog p {
  @include font(22px, 29px, 500);

  &:first-child {
    @include font(34px, 45px, 700);
  }
}








.page-header__toggle {
  display: none;
  padding: 5px;
  background: none;
  border: none;
  margin: 0;
  outline: none
}

@media (max-width: $tablet-width-only) {
  .page-header__toggle {
    display: block;
    position: relative;
  }

  .page-header__toggle--menu {
    margin-left: -7px;
  }

  .page-header__toggle--input {
    margin-right: -5px;
    margin-left: 5px;
  }

  .page-header--nojs {
    .page-header__toggle {
      display: none;
    }

    form {
      display: flex;
    }

    .page-header__nav {
      position: relative;
      display: block;
    }
  }

  .page-header--closed {
    .page-header__icon-menu {
      display: block;
      fill: $black;
    }

    .page-header__icon-logo {
      fill: $brown;
    }

    .page-header__icon-input {
      fill: $black;
    }
  }

  .page-header--opened {
    .page-header__wrapper {
      background-color: $brown;
      transition: 0.2s;
    }

    form {
      display: flex;
    }

    .page-header__icon-input {
      fill: $white;
    }

    .page-header__nav {
      position: absolute;
      top: 117px;
      left: 0;
      z-index: 49;
      background-color: $brown;
      display: block;
    }
  }

  @keyframes menu {
    0% {
      transform: translateX(-500px);
    }

    0% {
      opacity: 0.2;
    }

    100% {
      transform: translateX(0);
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes menu-search {
    0% {
      transform: translateY(-40px);
    }

    0% {
      opacity: 0.2;
    }

    100% {
      transform: translateY(0);
    }

    100% {
      opacity: 1;
    }
  }

  .page-header__menu-show {
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-name: menu;
    animation-duration: 0.5s;
  }

  .page-header__menu-search {
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-name: menu-search;
    animation-duration: 0.5s;
  }

  .page-header__menu-close {
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-name: menuclose;
    animation-duration: 0.6s;
  }
}
