.popup-addtocart ul {
  list-style: none;
}

.popup-addtocart {
  position: fixed;
  left: calc(50% - 250px);
  top: 100px;
  z-index: 130;
  display: none;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 500px;
  padding: 47px 35px 55px;
  box-shadow: 0 4px 32px rgba(121, 121, 121, 0.24);
  background-color: $white;

  @media (max-width: $mobile-width-only) {
    width: 290px;
    left: calc(50% - 145px);
    top: 115px;
    padding: 40px 15px 45px;
  }
}

.activecard {
  display: block;
  animation-name: modal-in;
  animation-duration: 0.5s;
}

.popup-addtocart > p {
  font-family: "Cormorant Garamond", "Times New Roman", serif;

  @include font(26px, 34px, 700);

  margin: 0 auto;
  color: $black;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    @include font(24px, 28px, 700);
    padding: 0 25px;
  }
}

.popup-addtocart__list p {
  margin: 0;
  padding: 0;
}

.popup-addtocart__list {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-top: 40px;

  @media (max-width: $mobile-width-only) {
    padding-top: 30px;
  }
}

.popup-addtocart__item--price {
  width: 107px;
  margin-left: 20px;

  @media (max-width: $mobile-width-only) {
    margin-left: 15px;
  }
}

.popup-addtocart__item--quantity {
  width: 14px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  padding-top: 3px;
  padding-bottom: 10px;
}

.popup-addtocart h2 {
  font-family: "Cormorant Garamond", "Times New Roman", serif;

  @include font(18px, 24px, 700);

  margin: 0 auto;
  color: $black;

  @media (max-width: $mobile-width-only) {
    @include font(16px, 21px, 700);
  }
}

.popup-addtocart__item--quantity p {
  color: $black;
  text-align: right;
  padding-right: 3px;
  padding-top: 7px;
}

.popup-addtocart__item--price p {
  @include font(18px, 24px, 400);

  color: $black;
  padding-top: 8px;

  @media (max-width: $mobile-width-only) {
    @include font(16px, 21px, 400);
    padding-top: 6px;
  }
}

.popup-addtocart button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.popup-addtocart__item img {
  display: block;
  margin: 0;
  margin-top: 5px;

  @media (max-width: $mobile-width-only) {
    width: 70px;
    height: 63px;
  }
}

.popup-addtocart__description {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 22px;

  &::before {
    position: absolute;
    left: -35px;
    top: 40px;
    content: "";
    width: 500px;
    height: 1px;
    background-color: $gray-light;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 26px;
    padding-bottom: 31px;

    &::before {
      left: -15px;
      top: 15px;
      width: 290px;
    }
  }
}

.popup-addtocart__description p {
  width: 50%;
  color: $black;

  @include font(14px, 18px, 400);

  @media (max-width: $mobile-width-only) {
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    margin-bottom: 0;
  }

  &:last-child {
    font-weight: 500;
    text-align: right;

    @media (max-width: $mobile-width-only) {
      text-align: left;
    }
  }
}

.popup-addtocart__wrapper-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popup-addtocart a {
  width: 200px;
  background-color: $white;
  color: $black;
  border: 1px solid $brown;
  margin: 0;
  padding: 21px 0;
  text-align: center;
  transition: 0.5s;

  &:hover {
    color: $white;
    background-color: $brown;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.popup-addtocart__wrapper-button button {
  width: 200px;
  padding: 21px 0;
  background-color: $brown;
  cursor: pointer;

  &:hover {
    background-color: $gray;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
    padding: 25px 0;
  }
}

.popup-addtocart__close {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 101;
  margin: 0;
  transition: 0.5s;

  &:hover {
    opacity: 0.6;
    color: $brown;
  }

  &:active {
    opacity: 0.2;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 4px 6px rgba($white, 0.3);
  }

  @media (max-width: $mobile-width-only) {
    right: 15px;
    top: 15px;
  }
}

@keyframes modal-in {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(-2000px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
