.popup-log {
  position: fixed;
  left: calc(50% - 215px);
  top: 100px;
  z-index: 100;
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 430px;
  padding: 188px 45px 60px;
  background-image: url("../img/log-in@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 442px 138px;
  background-color: $popup-bg;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/log-in@2x.jpg");
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/log-in-mobile@1x.jpg");
    background-size: 270px 84px;
    left: calc(50% - 135px);
    width: 270px;
    padding: 122px 15px 40px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/log-in-mobile@2x.jpg");
    }
  }
}

.popup-log form {
  width: 100%;

  @media (max-width: $tablet-width-only) {
    display: block;
  }
}

.popup-log h2 {
  font-family: "Cormorant Garamond", "Times New Roman", serif;

  @include font(34px, 44px, 700);

  margin: 0 auto;
  color: $black;

  @media (max-width: $mobile-width-only) {
    @include font(24px, 31px, 700);
  }
}

.popup-log input {
  padding: 9px 16px 9px 0;
  margin-top: 22px;
  width: 100%;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid $black;
  transition: 0.5s;

  &:focus {
    outline: none;
    box-shadow: 0 8px 0 0 rgba($brown, 0.5);
  }

  &:focus:invalid {
    box-shadow: 0 8px 0 0 red;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 5px;
    margin-bottom: 14px;
  }
}

.popup-log a {
  @include font(12px, 18px, 500);

  color: $gray;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 45px;
  display: block;
  text-align: right;
  width: 100%;
  transition: 0.5s;

  &:focus {
    outline: none;
    color: $black;
    text-decoration: underline;
  }

  &:hover {
    color: $brown;
    text-decoration: none;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: -9px;
    padding-top: 0;
    padding-bottom: 35px;
  }
}

.popup-log__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 16px;

  @media (max-width: $tablet-width-only) {
    order: 3;
    padding-top: 15px;
  }
}

.popup-log__box p {
  @include font(14px, 21px, 500);

  color: $gray;
  margin: 0;

  @media (max-width: $tablet-width-only) {
    padding-left: 3px;
  }
}

.popup-log__box a {
  @include font(14px, 21px, 500);

  color: $black;
  margin: 0;
  padding: 0;
  padding-left: 9px;
  display: block;
  text-align-last: left;
  transition: 0.5s;
  width: 19%;

  &:hover {
    color: $brown;
  }

  @media (max-width: $mobile-width-only) {
    width: auto;
    padding-left: 7px;
  }
}

.popup-log .button {
  margin: 0;
  border: none;
  cursor: pointer;
  outline: none;
  width: 100%;
  padding: 25px 0;
  background-color: $brown;
  color: $white;
  transition: 0.5s;

  &:hover {
    color: $brown;
    background-color: $gray;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px 7px rgba($brown, 0.3);
    transition: 0.5s;
  }
}

.popup-log__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 16px;
  height: 16px;
  border: none;
  background: none;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
  }

  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.2;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 4px 6px rgba($white, 0.3);
  }

  @media (max-width: $mobile-width-only) {
    right: 15px;
    top: 15px;
  }
}

.popup__field-box {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 90%;
  padding-top: 35px;
}

@keyframes modal-in {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.popup-show {
  display: flex;
  animation-name: modal-in;
  animation-duration: 0.5s;
}
