// * {
//   outline: 1px solid red;
// }

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font;

  position: relative;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Poppins", "Arial", sans-serif;
  color: $gray;
}

.body-black {
  position: relative;

  &::after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    content: "";
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

a {
  text-decoration: none;
}

input {
  @include mapa;
  @include font(16px, 22px, 400);

  position: relative;
  border-radius: 21px;
  border: none;
  color: $black;
  background-color: rgba($white, 0);
  transition: 0.5s;
  padding: 12px 30px;

  &::placeholder {
    color: $gray;

    @include font(14px, 21px, 500);
  }

  &:-moz-submit-invalid {
    box-shadow: none;
  }

  &:-moz-ui-invalid {
    box-shadow: none;
  }
}

.button {
  margin: 0;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;
  background-color: $brown;
  color: $white;
  text-align: center;

  &:hover {
    color: $white;
    background-color: $gray;
  }

  &:active {
    background-color: $gray;
    opacity: 0.5;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.faq .container {
  @media (max-width: $tablet-width-only) {
    width: 100%;
    max-width: 100%;
    padding: 0 45px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0 15px;
  }
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 45px;

  @media (max-width: $tablet-width-only) {
    max-width: 768px;
  }

  @media (max-width: $mobile-width-only) {
    width: 320px;
    padding: 0 15px;
  }
}
