@mixin mapa() {
  margin: 0;
  padding: 0;
}

@mixin mapa-ul() {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

@mixin font($font-size: 16px, $line-height: 22px, $font-weight: 400) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
