$cyan: #00b2ff;
$dark: #1b2d37;
$gray: #666666;
$gray-light: #788891;
$white: #ffffff;
$black: #203c42;
$social: #cdcdcd;
$desktop-width: 1024px;
$tablet-width-only: 1023px;
$tablet-width: 768px;
$mobile-width-only: 767px;
$mobile-width: 320px;
$retina-dppx: 1.5dppx;
