$brown: #a87b62;
$brown-dark: #564034;
$gray: #9b9997;
$gray-light: #f6f5f4;
$white: #ffffff;
$black: #1d1613;
$popup-bg: #f0eae4;

$desktop-width: 1024px;
$tablet-width-only: 1023px;
$tablet-width: 768px;
$mobile-width-only: 767px;
$mobile-width: 320px;
$retina-dppx: 1.5dppx;
